= form_for Comment.new do |f|
  = f.hidden_field :parent_id, :value => comment.parent_id
  = f.hidden_field :book_id, value: params[:id]
  .field
    %label Full Name
    = f.text_field :full_name, placeholder: "Full name"
  .field
    %label Email
    = f.text_field :email, placeholder: "Email"
  .ui.form
    .field
      %label Description
      = f.text_area :content, :rows => 8
  .field
    %label Avatar
    .attachment-file-btn.ui.fluid.basic.button
      %i.add.teal.icon
      Attachment image
    = f.file_field :avatar
  %div
    = f.submit "Add Reply", class: "ui fluid small button teal submit"
