- for comment in subcomment
  .comment
    %a.avatar
      = image_tag comment.avatar.url(:medium)
    .content
      %a.author= comment.full_name
      .metadata
        %span.date= comment.created_at.strftime("%B %d, %Y")
      .text
        = comment.content
      .actions
        %a.reply_button{id: comment.id} Reply
        - unless comment.moderated?
          = link_to "Not authenticated", new_admin_session_path
        .reply_form
          .ui.reply.form{id: "comment-#{comment.id}"}
            = render 'comments/add_reply', :comment => @book.comments.build(:parent_id => comment, :book_id => @book.id)
  - unless comment.child_ids.empty?
    .comments
      = render 'comments/subcomment', :subcomment => comment.children
