.pagination-wrap
  .ui.borderless.pagination.menu
    = paginate @books
.books-list
  .ui.items
    - @books.each do |book|
      .item
        =link_to book_path(book) do
          .ui.image= image_tag book.cover.url(:medium)
        .content
          .name= link_to book.name, book, :class => "button"
          %p.description= book.author.full_name
        .extra
          COMMENTS COUNT:
          =book.comments.count
.pagination-wrap.down
  .ui.borderless.pagination.menu
    = paginate @books
