.book.cf
  .ui.grid
    .seven.wide.column.left
      .cover
        .ui.blue.segment
          = image_tag @book.cover.url(:medium)
      .author
        .ui.blue.message
          %h2 AUTHOR
          .author_avatar
            = image_tag @book.author.avatar.url(:medium), class: "ui circular image"
          %h2#author_name= @book.author.full_name
    .eight.wide.column.right
      .inf
        .ui.piled.blue.segment
          .ui.ribbon.teal.label
            .ui.huge.header= @book.name
          .table_params
            %table.ui.basic.table
              %tbody
                %br
                %tr
                  %td
                    Series
                    %i.bookmark.icon
                  %td= @book.series
                %tr
                  %td
                    Publisher
                    %i.users.icon
                  %td= @book.publisher
                %tr
                  %td
                    Publishing year
                    %i.calendar.icon
                  %td= @book.year
                %tr
                  %td
                    Pages
                    %i.barcode.icon
                  %td= @book.pages
                %tr
                  %td
                    Binding
                    %i.book.icon
                  %td= @book.binding
                %tr
                  %td
                    Format
                    %i.file.icon
                  %td= @book.format
                %tr
                  %td
                    ISBN
                    %i.globe.icon
                  %td= @book.isbn
                %tr
                  %td
                    Weight
                    %i.dashboard.icon
                  %td= @book.weight

          %h4.ui.top.teal.attached.header Description
          .ui.teal.segment.attached
            %p= @book.decription
.author-books
  .ui.five.connected.items
    .row
      - @author_books.each do |b|
        -if not b==@book
          %a.item{href: b.id}
            .content
              .name= b.name

              %p.description= truncate b.decription, length: 200

.comments
  .ui.info.message
    .header
      %h3
        %i.icon.inverted.circular.teal.comment
        COMMENTS
  .ui.threaded.comments
    =render 'comments/comments'

  .new-comment
    = render 'comments/new_comment'
