= form_for [:admin, @admin] do |f|
  .ui.form.red.segment
    %h2.ui.header
      %i.square.add.user.red.icon
      .content
        User
        .sub.header Form to create a new User.
    %br
    .field
      %label Email
      .ui.left.labeled.icon.input
        %i.mail.icon
        = f.email_field :email, autofocus: true, placeholder: "Email"
        .ui.corner.label
          %i.icon.asterisk
    .field
      %label Login
      .ui.left.labeled.icon.input
        %i.smile.icon
        = f.text_field :login, placeholder: "Login"
    .field
      %label Password
      .ui.left.labeled.icon.input
        %i.shield.icon
        = f.password_field :password
    .field
      %label Password confirmation
      .ui.left.labeled.icon.input
        %i.shield.icon
        = f.password_field :password_confirmation
    - for role in Admin::ROLES
      = check_box_tag "admin[roles][#{role}]", role, @admin.roles.include?(role), {:name => "admin[roles][]"}
      = label_tag "admin_roles_#{role}", role.humanize
    %br/
    %br
    %br
    = f.submit class: "ui red large button"
