%header
  .ui.secondary.pointing.menu
    = link_to admin_root_path, :class => "blue item" do
      %i.home.icon
      Dashboard
    = link_to admin_authors_path, :class => "teal item" do
      %i.users.icon
      Authors
    = link_to admin_books_path, :class => "purple item" do
      %i.book.icon
      Books
    = link_to admin_comments_path, :class => "green item" do
      %i.comment.icon
      Comments
    .right.menu
      = link_to root_path, :class => "blue item" do
        %i.sign.out.icon
        Main site
      = link_to destroy_admin_session_path, method: "delete", :class => "red item" do
        %i.sign.out.icon
        Log Out

